---
import MainLayout from "~/layouts/main.astro";
import {getCollection} from 'astro:content'
import PostCard from "~/components/post/post-card.astro";
const posts = await getCollection("post")

---

<MainLayout title="Bienvenido a Landyx!">

<section class=" p-4 prose prose-lg w-full max-w-xl ">
<h1  class=" xl:text-3xl text-2xl font-semibold ">Posts más recientes</h1>

<PostCard posts={posts}/>

</section>
</MainLayout>
