---
import MainLayout from "~/layouts/main.astro";
import {getCollection} from 'astro:content'
import PostCard from "~/components/post/post-card.astro";
const posts = await getCollection("post")

---

<MainLayout title="Bienvenido a Landyx!">

<section class=" p-4 prose lg:prose-lg xl:prose-xl md:prose-md w-full max-w-4xl ">
<h1  class=" font-semibold  ">Noxy / más recientes</h1>

<PostCard posts={posts}/>

</section>
</MainLayout>
