---
import { CollectionEntry, getCollection } from 'astro:content'
import type { GetStaticPathsItem } from 'astro'
import MainLayout from '~/layouts/main.astro'

type Props = {
	entry: CollectionEntry<'post'>
}

export async function getStaticPaths(): Promise<GetStaticPathsItem[]> {
	const blogEntries = await getCollection('post')
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}))
}
const { entry } = Astro.props
const { Content } = await entry.render()
---

<MainLayout title={entry.data.title}>
	<section class="prose prose-lg h-screen    max-w-xl p-4 ">
		<Content />
	</section>
</MainLayout>
