---
import type { CollectionEntry } from "astro:content";

type Props = {
	posts: CollectionEntry<"post">[];
};
const { posts } = Astro.props as Props;
---

<article class="flex flex-col justify-center gap-4 w-full mt-6">
	{
		posts.map((post) => (
			<a
				href={`/post/${post.slug}`}
				class="h-40 w-full pl-9  border-b-2  decoration-none  border-light-100 dark:border-dark-300 "
			>
				<h2 class="text-2xl">{post.data.title}</h2>
				<time class="c-gray-400 text-sm" datetime={post.data.pubDate}>
					{post.data.pubDate}
				</time>
			</a>
		))
	}
</article>
